<html lang="ko"

 xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:fragment="headerFragment">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/user/user.css">
</th:block>
<!-- header -->

<div class="header">
	<!-- <a href="/" class="h_logo" title="logo">
		<img src="asset/logo.png">
	</a> -->
	<ul class="h_list">
		<li><a href="/">지도</a></li>	
		<li><a href="/signup">회원가입</a></li>
		<li><a href="/signin">로그인</a></li>
		<li><a href="/fav">즐겨찾기</a></li>
	</ul>
	<div class="h_login">
		<div th:if="${session.loginUser == null}">
			<div class="login_container">
				<a href="/signin"><input type="button" name="signIn"
					value="signin"></a> <a href="/signup"><input type="button"
					name="signUp" value="signup"></a>
			</div>
		</div>
		<!-- 세션에 로그인정보가 들어있으면 로그아웃, 마이페이지 버튼 나옴 -->
		<div th:if="${session.loginUser != null}">
			<div class="login_container">
				<a href="/logout"> <input type="button" name="logout"
					value="logout">
				</a> <a href="/mypage"> <input type="button" name="myPage"
					value="mypage">
				</a>
			</div>
		</div>
	</div>
</div>

</html>