@charset "UTF-8";

.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	width : 400px;
	height: 500px;
	margin: auto;

}

.login-page__btns {
	/* flex-direction: row; */

}

.login-page__links {}