<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<body>

	<div layout:fragment="content" class="content">

		<!-- 왼쪽 오프캔버스 버튼-->
		<h4 class="offcanvas-btn">
			<a class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
				aria-controls="offcanvasScrolling">버튼</a>
		</h4>

		<!-- 왼쪽 오프캔버스 -->
		<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
			id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
			<!-- 오프캔버스 헤더 -->
			<div class="offcanvas-header">
				<!-- 토큰 유무에 따라 메시지를 표시할 h2태그 -->
				<h2 id="statusMessage"></h2>
				<!-- 오프캔버스 닫기 버튼 -->
				<button type="button" class="offcanvas-close-btn" data-bs-dismiss="offcanvas" aria-label="Close">
				</button>
			</div>
			<!-- 오프캔버스 메인 부분 -->
			<div class="offcanvas-body">
				
			</div>

			<!-- 오프캔버스 하단 -->
			<div class="offcanvas-footer">

				<a href="/checkpw" id="updateInfoBtn">회원정보 수정</a>

			</div>
		</div>

		<!-- 로그인, 회원가입 버튼 -->
		<h2 class="sign-btn">
			<a href="/login" id="loginBtn"  class="btn btn-light">로그인</a>
			<button id="logOutBtn" class="btn btn-light">로그아웃</button>
			<a href="/signup" id="signinBtn" class="btn btn-light">회원가입</a>
		</h2>

		<!-- 메인 지도 -->
		<div class="map-container">

			<div id="map-wrapper">
				<div id="map" class="main-map"></div>
				<div id="roadviewControl" onclick="setRoadviewRoad()"></div>
			</div>

			<div id="rvWrapper">
				<div id="roadview"></div> <!-- 로드뷰를 표시할 div 입니다 -->
				<div id="close" title="로드뷰닫기" onclick="closeRoadview()"><span class="img"></span></div>
			</div>
			<ul id="category" class="category-btn">
				<li id="BK9" data-order="0">
					<span class="category_bg bank"></span>
					은행 
				</li>
				<li id="MT1" data-order="1">
					<span class="category_bg mart"></span>
					마트
				</li>
				<li id="PM9" data-order="2">
					<span class="category_bg pharmacy"></span>
					약국
				</li>
				<li id="OL7" data-order="3">
					<span class="category_bg oil"></span>
					주유소
				</li>
				<li id="CE7" data-order="4">
					<span class="category_bg cafe"></span>
					카페
				</li>
				<li id="CS2" data-order="5">
					<span class="category_bg store"></span>
					편의점
				</li>
			</ul>
		</div>


		<!-- 외부파일로 지도 js 관리 -->
		<script type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9decf967a5d3e1252636891fb7f05a98&libraries=services">
			</script>
		<script src="/js/map.js"></script>
		
	</div>
		
</body>

</html>