@charset "UTF-8";

/* 그라데이션 색 -> https://uigradients.com/#Winter */

/* 눈누 -> 런드리고딕 https://noonnu.cc/font_page/1359 */
@font-face {
	font-family: 'TTLaundryGothicB';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'TTLaundryGothicB';
}

a {
	text-decoration: none;
	color: black;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h2 {
	margin: 0;
}

p {
	margin: 0;
}

/* 버튼 스타일링*/
.btns {
	outline: none;
	border-radius: 10px;
	width: 100%;
	height: 48px;
	background-color: #F4F4F5;
	color: rgba(55, 56, 60, 0.16);
	border: none;
	margin-top: 50px;
}

/* 인풋 스타일링 */
.inputs {
	border: 1px solid rgba(112, 115, 124, 0.22);
	border-radius: 10px;
	height: 48px;
	width: 100%;
	padding: 0 20px;
	margin-top: 10px;
}

/* 전체 content */
.content {
	width: 100%;
	height: 100vh;

	position: relative;
}

/* 아이콘 포함 페이지 헤더 */
.page-header {
	position: absolute;
	top: 0;

	width: 100%;
	height: 70px;
	border-bottom: 1px solid #0000000d;
}

/* 구글 아이콘 */
.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48
}

/* 이전 버튼 */
.top-prev-btn {
	position: absolute;
	top: 17%;
	left: 30%;

}

/* 버튼 비활성화 상태 */
.btn-disabled {
	outline: none;

	border-radius: 10px;
	width: 100%;
	height: 48px;
	background-color: #F4F4F5;
	color: rgba(55, 56, 60, 0.16);
	border: none;
	margin-top: 50px;
}

/* 버튼 활성화 상태 */
.btn-active {
	outline: none;
	background-color: inherit;
	border-radius: 10px;
	cursor: pointer;
	width: 100%;
	height: 48px;
	background-color: #0066ff;
	;
	border: 1px solid;
	color: #F4F4F5;
	border: none;
	margin-top: 50px;

}


/* 왼쪽 오프캔버스 버튼 */
.offcanvas-btn {
	position: absolute;
	top: 15px;
	left: 15px;
	height: 40px;
	z-index: 10;

}

.offcanvas-btn a {
	display: block;
	height: 100%;
	width: 60px;
	padding: 0;
	line-height: 40px;
}

/* 오프캔버스 닫기 버튼 */
.offcanvas-close-btn {
	position: absolute;
	top: 48%;
	right: -5%;
	width: 19px;
	height: 54px;
	border: 0;
	/* 카카오맵 닫기버튼 링크 */
	background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/shadow/img_navi.png) no-repeat 0 0;

}


/* 로그인 , 회원가입 버튼 */
.sign-btn {
	position: absolute;
	display: flex;
	gap: 10px;
	top: 15px;
	right: 15px;
	z-index: 10;
	font-weight: bold;

}

.sign-btn a {
	display: block;
}

/* 지도 */
#container {
	overflow: hidden;
	height: 100vh;
	position: relative;
}

#mapWrapper {
	width: 100%;
	height: 100%;
	z-index: 1;
}

#rvWrapper {
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	z-index: 0;
}

#container.view_roadview #mapWrapper {
	width: 50%;
}

#roadviewControl {
	position: absolute;
	right: 30%;
	top: 15px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) 0 -450px no-repeat;
}

#roadviewControl.active {
	background-position: 0 -350px;
}

#close {
	position: absolute;
	padding: 4px;
	top: 5px;
	left: 5px;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #c8c8c8;
	box-shadow: 0px 1px #888;
}

#close .img {
	display: block;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png) no-repeat;
	width: 14px;
	height: 14px;
}