@charset "UTF-8";

/* 그라데이션 색 -> https://uigradients.com/#Winter */

/* 눈누 -> 런드리고딕 https://noonnu.cc/font_page/1359 */
@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "TTLaundryGothicB";
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  overflow: hidden !important;
}

/* 숨기기 */
.HIDDEN {
  display: none !important; 
}

/* 활성화 */
.ACTIVE {
  display: block !important; 
}

/* 버튼 스타일링*/
.btns {
  outline: none;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  background-color: #f4f4f5;
  color: rgba(55, 56, 60, 0.16);
  border: none;
  margin-top: 50px;
}

/* 인풋 스타일링 */
.inputs {
  border: 1px solid rgba(112, 115, 124, 0.22);
  border-radius: 10px;
  height: 48px;
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
}

/* 전체 content */
.content {
  width: 100%;
  height: 100vh;

  position: relative;
}

/* 아이콘 포함 페이지 헤더 */
.page-header {
  position: absolute;
  top: 0;

  width: 100%;
  height: 70px;
  border-bottom: 1px solid #0000000d;
}

/* 구글 아이콘 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* 이전 버튼 */
.top-prev-btn {
  position: absolute;
  top: 17%;
  left: 30%;
}

/* 버튼 비활성화 상태 */
.btn-disabled {
  outline: none;

  border-radius: 10px;
  width: 100%;
  height: 48px;
  background-color: #f4f4f5;
  color: rgba(55, 56, 60, 0.16);
  border: none;
  margin-top: 50px;
}

/* 버튼 활성화 상태 */
.btn-active {
  outline: none;
  background-color: inherit;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 48px;
  background-color: #0066ff;
  border: 1px solid;
  color: #f4f4f5;
  border: none;
  margin-top: 50px;
}

/* 왼쪽 오프캔버스 버튼 */
.offcanvas-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 40px;
  z-index: 10;
}

.offcanvas-btn a {
  display: block;
  height: 100%;
  width: 60px;
  padding: 0;
  line-height: 40px;
}

/* 오프캔버스 닫기 버튼 */
.offcanvas-close-btn {
  position: absolute;
  top: 48%;
  right: -5%;
  width: 19px;
  height: 54px;
  border: 0;
  /* 카카오맵 닫기버튼 링크 */
  background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/shadow/img_navi.png) no-repeat 0 0;
}

/* 로그인 , 회원가입 버튼 */
.sign-btn {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 15px;
  right: 15px;
  z-index: 10;
  font-weight: bold;
}

.sign-btn a {
  display: block;
}

/* 우측 맵 컨트롤 관련 디자인 */
.map-control-view {
  display: flex;
  position: absolute;
  top: 20%;
  right: 9px;
  border: none;
  border: 1px solid red;
  height: 500px;
  width: 40px;
}

/* 현재 위치로 이동하는 버튼 */
.set-center-btn {
  position: absolute;

  width: 38px;
  height: 38px;
  margin: 0 auto;
  padding: 0;
  padding: 1px 3px 5px;
  background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) no-repeat -150px -450px;
  border: none;

  z-index: 10;
}

/* 확대, 축소 버튼 */
.zoom-control {
  position: relative;
  top: 15%;
  left: 3px;
  margin: 0 auto;
  z-index: 10;
}

/* 확대 버튼 */
.zoom-in-btn {

  display: block;
  width: 32px;
  height: 32px;

  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-left: none;
  border-image: initial;
  background: url(https://t1.daumcdn.net/mapjsapi/images/control.png) -40px 0px / 116px 264px no-repeat rgb(255, 255, 255);
  border-radius: 3px 3px 0px 0px;
  z-index: 10;

}

/* 축소 버튼 */
.zoom-out-btn {
  display: block;
  width: 32px;
  height: 32px;

  border-top: 1px solid rgb(226, 226, 226);
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  background: url(https://t1.daumcdn.net/mapjsapi/images/control.png) -40px -32px / 116px 264px no-repeat rgb(255, 255, 255);
  border-radius: 0px 0px 3px 3px;

  z-index: 10;
}

/* 지도 */
#container {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

#mapWrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#rvWrapper {
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

#container.view_roadview #mapWrapper {
  width: 50%;
}

#roadviewControl {
  position: absolute;
  right: 30%;
  top: 15px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) 0 -450px no-repeat;
}

#roadviewControl.active {
  background-position: 0 -350px;
}

#close {
  position: absolute;
  padding: 4px;
  top: 5px;
  left: 5px;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  box-shadow: 0px 1px #888;
}

#close .img {
  display: block;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png) no-repeat;
  width: 14px;
  height: 14px;
}



/* 지도 관련 */
#category {
  position: absolute;
  top: 15px;
  left: 33%;
  border-radius: 5px;
  border: 1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 2;
}

#category li {
  float: left;
  list-style: none;
  width: 50px;
  border-right: 1px solid #acacac;
  padding: 6px 0;
  text-align: center;
  cursor: pointer;
}

#category li.on {
  background: #eee;
}

#category li:hover {
  background: #ffe6e6;
  border-left: 1px solid #acacac;
  margin-left: -1px;
}

#category li:last-child {
  margin-right: 0;
  border-right: 0;
}

#category li span {
  display: block;
  margin: 0 auto 3px;
  width: 27px;
  height: 28px;
}

#category li .category_bg {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;
}

#category li .bank {
  background-position: -10px 0;
}

#category li .mart {
  background-position: -10px -36px;
}

#category li .pharmacy {
  background-position: -10px -72px;
}

#category li .oil {
  background-position: -10px -108px;
}

#category li .cafe {
  background-position: -10px -144px;
}

#category li .store {
  background-position: -10px -180px;
}

#category li.on .category_bg {
  background-position-x: -46px;
}

.placeinfo_wrap {
  position: absolute;
  bottom: 28px;
  left: -150px;
  width: 300px;
}

.placeinfo {
  position: relative;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  background: #fff;
}

.placeinfo:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.placeinfo_wrap .after {
  content: '';
  position: relative;
  margin-left: -12px;
  left: 50%;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active {
  color: #fff;
  text-decoration: none;
}

.placeinfo a,
.placeinfo span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.placeinfo span {
  margin: 5px 5px 0 5px;
  cursor: default;
  font-size: 13px;
}

.placeinfo .title {
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
  margin: -1px -1px 0 -1px;
  padding: 10px;
  color: #fff;
  background: #d95050;
  background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.placeinfo .tel {
  color: #0f7833;
}

.placeinfo .jibun {
  color: #999;
  font-size: 11px;
  margin-top: 0;
}


