@charset "UTF-8";

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

/*.content {
	width: 1200px;
		
}*/

.main_map {
	width: 100%;
	height:200px;
	
}



.h_list {
	display:flex;
	justify-content: center;
	align-items: center; 
		
}

.h_list>li {
	padding: 0 20px;
}


