@charset "UTF-8";

/* 그라데이션 색 -> https://uigradients.com/#Winter */

/* 눈누 -> 런드리고딕 https://noonnu.cc/font_page/1359 */
@font-face {
	font-family: 'TTLaundryGothicB';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'TTLaundryGothicB';
}

a {
	text-decoration: none;
	color: black;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h2 {
	margin: 0;
}

p {
	margin: 0;
}

/* 버튼 스타일링*/
.btns {
	outline: none;
	border-radius: 10px;
	width: 100%;
	height: 48px;
	background-color: #F4F4F5;
    color: rgba(55, 56, 60, 0.16);
    border:none;
    margin-top: 50px;
}

/* 인풋 스타일링 */
.inputs {
	border: 1px solid rgba(112, 115, 124, 0.22);
    border-radius: 10px;
    height: 48px;
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
}

/* 전체 content */
.content {
	width: 100%;
	height: 100vh;

	position: relative;
}

/* 왼쪽 오프캔버스 버튼 */
.offcanvas-btn {
	position: absolute;
	top: 15px;
	left: 15px;
	height: 40px;
	z-index: 10;

}

.offcanvas-btn a {
	display: block;
	height: 100%;
	width: 60px;
	padding: 0;
	line-height: 40px;
}

/* 오프캔버스 닫기 버튼 */
.offcanvas-close-btn {
	position: absolute;
	top: 48%;
	right: -5%;
	width: 19px;
	height: 54px;
	border: 0;
	/* 카카오맵 닫기버튼 링크 */
	background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/shadow/img_navi.png) no-repeat 0 0;

}


/* 로그인 , 회원가입 버튼 */
.sign-btn {
	position: absolute;
	display: flex;
	gap: 10px;
	top: 15px;
	right: 15px;
	z-index: 10;
	font-weight: bold;

}

.sign-btn a {
	display: block;
}


/* 로드뷰 */


#rvWrapper {
	width: 50%;
	height:100vh;
	top: 0;
	right: 0;
	position: absolute;
	z-index: 1;
	visibility: hidden;
}
#roadview {
	width:100%;
	height:100%;
}



.map-container.view_roadview #map-wrapper {
	width: 50%;
}

#roadviewControl {
	position: absolute;
	top: 15px;
	right: 300px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) 0 -450px no-repeat;
}

#roadviewControl.active {
	background-position: 0 -350px;
}

#close {
	position: absolute;
	padding: 4px;
	top: 5px;
	left: 5px;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #c8c8c8;
	box-shadow: 0px 1px #888;
	z-index: 1;
}

#close .img {
	display: block;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png) no-repeat;
	width: 14px;
	height: 14px;
}



/* 지도 전체 컨테이너 */
.view_roadview {
	overflow: hidden;
	height:100vh;
	position: relative; 
	/* z-index: 1; */
}


.map-container {
	overflow: hidden;
	height:100vh;
	position: relative;
}

/* 지도가 나오는 div */
#map-wrapper {
	width:100%;
	/* height:100vh; */
	height:100%;
	z-index: 1;

}

/* 메인지도 */
.main-map {
	width: 100%;
	height: 100%;
}

/* 카테고리 아이콘 */
.category-btn {
	display: flex;
	position: absolute;
	top: 15px;
	left: 100px;
	z-index: 10;
	height: 40px;
}

.category-btn li {
	gap: 10px;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background-color: white;
	text-align: center;

}

/* .category-btn li:nth-child(1) {
	border-radius: 25% 0 0 25%;
} */

.category-btn li:first-child {
	border-radius: 25% 0 0 25%;
}

.category-btn li:last-child {
	border-radius: 0 25% 25% 0;
}

.category-btn li:hover {

	background: #C9D6FF;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E2E2E2, #C9D6FF);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



	cursor: pointer;
}

/* 주유소 아이콘 클릭 시 나오는 정보창 디자인 */
.placeinfo_wrap {
	position: absolute;
	bottom: 28px;
	left: -150px;
	width: 300px;
}

.placeinfo {
	position: relative;
	width: 100%;
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	padding-bottom: 10px;
	background: #fff;
}

.placeinfo:nth-of-type(n) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.placeinfo_wrap .after {
	content: '';
	position: relative;
	margin-left: -12px;
	left: 50%;
	width: 22px;
	height: 12px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active {
	color: #fff;
	text-decoration: none;
}

.placeinfo a,
.placeinfo span {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.placeinfo span {
	margin: 5px 5px 0 5px;
	cursor: default;
	font-size: 13px;
}

.placeinfo .title {
	font-weight: bold;
	font-size: 14px;
	border-radius: 6px 6px 0 0;
	margin: -1px -1px 0 -1px;
	padding: 10px;
	color: #fff;
	background: #C9D6FF url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.placeinfo .tel {
	color: #0f7833;
}

.placeinfo .jibun {
	color: #999;
	font-size: 11px;
	margin-top: 0;
}