<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
	<title>로그인</title>
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/user/user.css}">
	<!-- 구글 아이콘 -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=chevron_left" />
</th:block>
<th:block layout:fragment="script">
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script defer type="text/javascript" th:src="@{/js/user.js}"></script> -->


</th:block>

<body>
	<section layout:fragment="content" class="login-page-content">

		<div class="page-header">
			<a href="/" class="material-symbols-outlined top-prev-btn" style="font-size: 48px">
				chevron_left
			</a>
		</div>
		<!-- 로그인 컨테이너 -->
		<div class="login-container">

			<!-- 로고 -->
			<header>
				<h2 class="login-page-logo">쉽게 가입하고 <br> 간편하게 로그인하세요.</h2>
			</header>

			<!-- 로그인 버튼 그룹 -->
			<div class="login-page__btns">

				<!-- 구글 로그인 버튼 -->
				<button id="googleLoginBtn" class="google-login-btn">
					<img th:src="@{/images/googleicon.png}" class="google-btn__img">
					<p class="google-btn__txt">구글 계정으로 로그인</p>
				</button>

				<!-- 네이버 로그인 버튼 -->
				<button id="naverLoginBtn" class="naver-login-btn">
					<img th:src="@{/images/navericon.png}" class="naver-btn__img">
					<p class="naver-btn__txt">네이버 계정으로 로그인</p>
				</button>

				<!-- 일반 로그인 버튼 -->
				<button id="loginEntryPageBtn" class="login-entry-page-btn">일반 사용자로 로그인</button>
			</div>

			<!-- 비밀번호 찾기, 회원가입 링크 -->
			<nav class="login-page__links">
				<a href="/findpw" class="findpw-link">비밀번호 찾기</a>
				<a href="/signup" class="signup-link">회원가입 하기</a>
			</nav>

		</div>  

	</section>

</body>

</html>