<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">

<head>
<title>로그인</title>
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet"  th:href="@{/css/user/user.css}">
</th:block>
<th:block layout:fragment="script">
	<script defer type="text/javascript" th:src="@{js/user.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</th:block>





<!-- login -->
<!-- <div class="login_wrap" layout:fragment="content"
	th:if="${session.loginUser == null}">
	<div class="login_form">
		<span>login</span>
		<form method="post" action="/login">
			<div class="txt_field">
				<input type="text" name="userEmail" required> <label>ID
					(e-mail)</label>
			</div>
			<div class="txt_field">
				<input type="password" name="userPw" required> <label>Password</label>
			</div>
			<input type="button" name="signIn" value="login" id="loginBtn">
			<div class="fg_pw">
				<a href="/findpw">Forgot your password?</a>
			</div>
			<div class="signup_link">
				Not a member?<a href="/signup">Sign Up</a>
			</div>
		</form>
	</div>
</div>
 -->

<!-- method="post" action="/signin" -->
<body>
	<div layout:fragment="content">
	
	<a href="/">홈으로 가기</a>
	<a href="/signup">회원가입 하러 가기</a>

		<div>
			<form id="loginForm" th:action="@{/signin}" th:method="POST"  >	



				<h2 class="id" th:for="userid">아이디</h2>
				<input type="text"  name="userid" placeholder="ID를 입력하세요." />



				<h2 class="pw" th:for="userpw">패스워드</h2>
				<input type="password"  name="userpw" placeholder="비밀번호를 입력하세요." />

				<button type="submit">로그인</button>
		

			</form>
		</div>
	</div>

</body>
</html>