<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">

<head>
<title>회원가입</title>
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/user/user.css">
</th:block>

<th:block layout:fragment="script">
	<script defer type="text/javascript" th:src="@{js/user.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</th:block>


<!-- <div class="email_modal" layout:fragment="content">
	<div class="email_con">
		<div class="email_box">
			<span>이메일 인증</span>
			<div class="txt_field cert">
				<input type="text" name="emailchk" id="emailchk" required>
				<label>Security confirm</label>
			</div>
			<input type="button" value="confirm" id="emailchkbtn"
				class="email_close">
		</div>
	</div>
</div> -->

<div class="signup_wrap" layout:fragment="content"
	th:if="${session.loginUser == null}">
	
	<a href="/">홈으로 가기</a>
	<a href="/signin">로그인 하러 가기</a>
	
	<div class="signup_form">
		<span>sign up</span>

		<form id="signupForm" th:action="@{/signup}" method="post">

			<input type="text" name="userid" placeholder="ID" required> <input
				type="password" name="userpw" placeholder="password" required>


			<input type="text" name="username" placeholder="yourname" required>
			<button type="submit">회원가입</button>
		</form>
	</div>
</div>

</html>